@import "~Sass/helpers.scss";

.spinner {
    animation: rotate 500ms linear infinite;
}
.wrapper {
    text-align: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}