@import "~Sass/helpers.scss";

.content {
    background-color: $white;
    padding: 30px;

    &.bride {
        background-color: $cosmos;
    }
    &.groom {
        background-color: $desert-storm;
    }

    em {
        font-size: $font-size-sm;
        display: block;
        text-align: right;
    }

    @include media(desktop) {
        height: 100%;
        opacity: 0;
        transition: opacity .3s;
    }
}
.heading {
    font-family: $font-family-hand;
    font-size: $font-size-lg + 2;
    margin: 0 0 15px;
}
.wrapper {
    position: relative;

    img {
        @include square(100%);
        display: block;
        max-width: none;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        z-index: -1;
    }

    @include media(desktop) {
        &:hover .content {
            opacity: 1;
        }
    }
}