@import "~Sass/helpers.scss";

.close,
.hamburger {
    @include square(30px);
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
}
.menu {
    background-color: $white;
    list-style: none;
    margin: 0 auto;
    padding: 47px 5%;
    text-align: center;

    a {
        border-bottom: 1px solid $silver-chalice;
        color: $tundora;
        display: block;
        padding: 14px 0;
        text-transform: lowercase;
    }
    li:last-child a {
        border-bottom: none;
    }
}
.wrapper {
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: z-index(popup);
}