@import "~Sass/helpers.scss";

.wrapper {
    position: relative;

    @include media(tablet) {
        &:before {
            background-color: $alto;
            bottom: 0;
            content: '';
            left: 50%;
            position: absolute;
            top: 0;
            width: 1px;
        }
    }
}