@import "~Sass/helpers.scss";

.bin {
    bottom: 0;
    cursor: pointer;
    fill: $wild-strawberry;
    margin: 6px;
    position: absolute;
    right: 0;
}
.text {
    .isLogged & {
        cursor: pointer;
        padding-right: $padding--big;
    }
}
.wrapper {
    padding: 0;
    position: relative;

    &.isLogged {
        &:not(.editing):hover {
            box-shadow: 0 0 0 1px $black;
        }
    }
}