@import "~Sass/helpers.scss";

.controls {
    bottom: 0;
    position: absolute;
    right: 0;

    svg {
        cursor: pointer;

        &.bin {
            fill: $wild-strawberry;
        }
    }
}
.text {
    .isLogged & {
        cursor: pointer;
        padding-right: $padding--big;
    }
}
.wrapper {
    padding: 0;
    position: relative;

    &.isLogged {
        &.editing,
        &:hover {
            box-shadow: 0 0 0 1px $black;
        }
    }
}