@import "~Sass/helpers.scss";

.editor {
    margin-bottom: $margin--default;
}
.intro {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 700;
    text-align: left;

    .plus {
        float: right;
    }
}
.wrapper {
    border: 1px solid $black;
    padding: 10px;

    svg {
        cursor: pointer;

        &.add {
            fill: $mountain-meadow;
        }
        &.close {
            fill: $wild-strawberry;
        }
        &.plus {
            fill: $mountain-meadow;
        }
    }
}