@import "~Sass/helpers.scss";

.wrapper {
    svg {
        cursor: pointer;

        &.add {
            fill: $mountain-meadow;
        }
        &.close {
            fill: $wild-strawberry;
        }
        &.plus {
            fill: $mountain-meadow;
        }
    }
}