@import "~Sass/helpers.scss";

.claim {
    color: $white;
    font-family: $font-family-hand;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    transition: text-shadow .5s;

    &.light {
        text-shadow: 0 0 5px rgba($black, .5);
    }
}
.claimSvg {
    @include dim(400px, 100%);
    left: 50%;
    margin-left: -200px;
    position: absolute;
    top: -3%;

    @include media(desktop) {
        margin-left: -225px;
        width: 450px;
    }
}
.date {
    font-size: $font-size-lg + 6;
    font-weight: 700;
    line-height: .5;
    margin: 0 0 -30px;
}
.dateSvg {
    @include dim(200px, 100%);
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: 15%;
}
.heading {
    font-size: $font-size * 2 + 10;
    line-height: 1;
    margin: -15px 0 0;

    @include media(desktop) {
        font-size: $font-size * 2 + 20;
    }
}
.slider {
    height: 100%;
}
.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    text-align: center;

    @include media(desktop) {
        height: 90vh;
    }
}
.wreath {
    @include dim(250px, 120px);
    display: block;

    &.up {
        margin-bottom: 50px;
        transform: rotate(180deg);
    }

    @include media(desktop) {
        @include dim(300px, 150px);
    }
}


// SVG animations
$wreath_duration: 7s;
$wreath_delay: 4s;
$header_duration: 7s;
$header_delay: 2s;
$date_duration: 5s;
$date_delay: 0s;
// created with https://maxwellito.github.io/vivus-instant/
:global {
    // wreath animations
    .oaMnZrYp_0 {
        stroke-dasharray: 666 668;
        stroke-dashoffset: 667;
        animation: svg_draw $wreath_duration ease-in $wreath_delay forwards;
    }

    .oaMnZrYp_1 {
        stroke-dasharray: 292 294;
        stroke-dashoffset: 293;
        animation: svg_draw $wreath_duration ease-in $wreath_delay forwards;
    }

    .oaMnZrYp_2 {
        stroke-dasharray: 315 317;
        stroke-dashoffset: 316;
        animation: svg_draw $wreath_duration ease-in $wreath_delay forwards;
    }

    .oaMnZrYp_3 {
        stroke-dasharray: 306 308;
        stroke-dashoffset: 307;
        animation: svg_draw $wreath_duration ease-in $wreath_delay forwards;
    }

    .oaMnZrYp_4 {
        stroke-dasharray: 931 933;
        stroke-dashoffset: 932;
        animation: svg_draw $wreath_duration ease-in $wreath_delay forwards;
    }

    .oaMnZrYp_5 {
        stroke-dasharray: 2565 2567;
        stroke-dashoffset: 2566;
        animation: svg_draw $wreath_duration ease-in $wreath_delay forwards;
    }

    .oaMnZrYp_6 {
        stroke-dasharray: 2460 2462;
        stroke-dashoffset: 2461;
        animation: svg_draw $wreath_duration ease-in $wreath_delay forwards;
    }

    // claim header text animation
    .iClaOZAW_0 {
        stroke-dasharray: 2966 2968;
        stroke-dashoffset: 2967;
        animation: svg_draw $header_duration ease-in $header_delay forwards;
    }

    // claim date animation
    .XetTfpqD_0 {
        stroke-dasharray: 1038 1040;
        stroke-dashoffset: 1039;
        animation: svg_draw $date_duration ease-in $date_delay forwards;
    }
}

@keyframes :global(svg_draw) {
    100% {
        stroke-dashoffset: 0;
    }
}